* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	list-style: none;
	text-decoration: none !important;
	scroll-behavior: smooth;
}

:root {
	--text-color: #ffffff;
	--bg-color: #0B2027;
	--secondary-bg-color: #001524;
	--main-color: #11D0CC;
	--other-color: #D3F3EE;

	--h1-font: 3.5rem;
	--h2-font: 1.5rem;
	--p-font: 1rem;
}

.card {
	min-height: 600px;
	max-height: 700px;
	transition: all 0.5s ease;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.navbar-brand {
	font-weight: 600;
	font-size: 35px;
}

h1 {
	font-size: var(--h1-font);
	font-weight: 700;
}

h2 {
	font-size: var(--h2-font);
	font-weight: 600;
	color: var(--text-color);
}

p {
	font-size: var(--p-font);
	font-weight: 400;
	color: var(--text-color);
}

#tools-item {
	transition: all .5s ease;
}

#tools-item:hover {
	transform: scale(1.05);
	box-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.navbar-brand {
	transition: all 0.5s ease;
}


.navbar-brand:hover {
	transform: scale(1.1);
	text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.navbar-nav a {
	color: var(--other-color);
	font-size: 1;
	font-weight: 500;
	transition: all 0.5s ease;
}

.navbar-nav a:hover {
	text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.btn {
	transition: all 0.5s ease;
}

.btn:hover {
	box-shadow: 3px 3px 20px var(--main-color);
	transform: scale(1.1);
}

#profile {
	border: solid 1px var(--main-color);
}