// custom variables
$primary: #11D0CC;
$dark: #0B2027;
$light: #ffffff;
$secondary: #D3F3EE;


@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
$custom-theme-colors: (
    "altdark":#012622,
    "altlight":#D9FCF0,
    "altsecondary":#5A7D7A
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors); 

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";